/****** Script for SelectTopNRows command from SSMS  ******/
SELECT count(*)
  FROM [arachnode.net].[dbo].[Discoveries]
  
  SELECT count(*)
  FROM [arachnode.net].[dbo].[HyperLinks_Discoveries]
  
  SELECT count(*)
  FROM [arachnode.net].[dbo].[HyperLinks]
  
  SELECT count(*)
  FROM [arachnode.net].[dbo].[WebPages]
  
  
  SELECT count(*)
  FROM [arachnode.net].[dbo].[Exceptions]
  
  
  SELECT count(*)
  FROM [arachnode.net].[dbo].[DisallowedAbsoluteUris]
  
  SELECT count(*)
  FROM [arachnode.net].[dbo].[CrawlRequests]
  