/****** Script for SelectTopNRows command from SSMS  ******/
--select 
--top 100 *
--COUNT(*)
delete
  FROM [arachnode.net].[dbo].[Exceptions]
  
  --order by Created desc
  
--  delete t1
--from (select  *
--        from [arachnode.net].[dbo].[Exceptions]) t1