/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [contract_name]
      ,[trade_date]
      ,[order_ref]
      ,[direction]
      ,[qty]
      ,[price]
      ,[trade_value]
      ,[brokerage]
      ,[exchange]
      ,[algo_id]
      ,[status_update_time]
  FROM [StockTrader].[dbo].[st_derivatives_tradebook]