/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [contract_name]
      ,[order_date]
      ,[order_ref]
      ,[direction]
      ,[qty]
      ,[price]
      ,[order_status]
      ,[qty_open]
      ,[qty_executed]
      ,[qty_cancelled]
      ,[qty_expired]
      ,[stoploss_price]
      ,[exchange]
      ,[algo_id]
      ,[status_update_time]
  FROM [StockTrader].[dbo].[st_derivatives_orderbook]